@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inconsolata", monospace;
    /* background-color: rgb(240, 240, 240); */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 12vh;
}

section {
    text-align: center;
}

p {
    color: rgb(99, 99, 99);
    font-size: 1rem;
}

#header img {
  border-radius: 50%;
  height: 15rem;
  border-color: rgb(99, 99, 99);
  border-width: 1rem;
}

#about img {
  border-radius: 50%;
  height: 15rem;
  border-color: rgb(99, 99, 99);
  border-width: 1rem;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 3rem;
}

/* #header {
    gap: 20rem;
} */


.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 65vh;
}

.tittle p {
    color: #3694ff;
    font-size: 4rem;
}

.tittle_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 23vh;
}

.tittle_button {
    display: flex;
    height: 15vh;
    width: 25vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.tittle_button p {
    font-size: 2rem;
}

nav,
.nav_links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
}

#desktop_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0;
    overflow: hidden;
    z-index: 1000;
}

#current-section {
    background-color: white; 
    height: 100%;
    width: 0%; 
    transition: width 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    box-sizing: border-box;
    color: white;
    overflow: hidden;
}

#current-section h3,
#current-section p {
    opacity: 0;
}

#current-section.show h3,
#current-section.show p {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#current-section h3 {
    color: rgb(41, 41, 41);
    font-size: 2.2rem;
    font-weight: 700;
    padding-left: 2rem;
}

#current-section p {
    font-size: 0.9rem;
    color: rgb(90, 90, 90); 
    /* margin: 0.2rem 0 0; */
    padding-left: 2rem;
    margin-bottom: 1rem;
}


.nav_default {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    transition: width 0.5s ease;
}

#desktop_nav.scrolled #current-section {
    width: 30%;
}

#desktop_nav.scrolled .nav_default {
    width: 70%;
}


.nav_links {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

#about {
    height: 88vh;
}

.about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* height: 80vh; */
}

.about_text {
    background-color: rgb(218, 218, 218);
    width: 40vw;
    padding: 1rem;
}

#education {
    min-height: 88vh;
}

#education img {
  height: 3rem;
}

.education_container {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
}

.edu_pl {
    margin-left: 3rem;
    text-align: center;
}

.edu_pl_info {
    margin-top: 4rem;
    padding: 1.2rem;
    width: fit-content;
    display: inline-block;
}

.edu_descr {
    text-align: justify;
    padding: 1.5rem;
}

.edu_ams {
    text-align: center;
}

.edu_ams_info {
    margin-top: 0;
    padding: 1.2rem;
    width: fit-content;
    display: inline-block;
}

.edu_ams_info img {
    margin-left: 1.5rem;
}

.ams_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edu_leiden {
    margin-right: 3rem;
    text-align: center;
}

.edu_leiden_info {
    margin-top: 4rem;
    padding: 1.2rem;
    width: fit-content;
    display: inline-block;
}

.edu_description {
    width: 100%;
}

#projects {
    min-height: 88vh;
}

.projects_container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects_container img {
    height: 5rem;
}

.bachelor_project {
    display: flex;
    justify-content: center;
    width: 60vw ;
    min-height: 40vh;
    margin-top: 2rem;
    padding: 1rem;
}

.bachelor_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

.project_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.project_buttons img, .project_icons img {
    height: 3rem;
}

.bachelor_descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.minor_projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 2rem;
}   

.bordered_container {
    border-radius: 2rem;
    border: #3c4043 0.1rem solid;
}

.project_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 24vw ;
    min-height: 60vh;
    padding: 1rem;
}

.project_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#skills {
    height: 88vh    ;
}

.skills_container {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 6rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.skill_box {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;
    width: 14rem;
    height: 7rem;
}

.skill_box img {
    height: 0.7rem;
}

.check {
    display: flex;
    text-align: left;
    gap: 1rem;
}

.horizontal_line {
    height: 2px;
    background: black;
    width: 80%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.programming_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.programming_column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


#contact {
    height: 88vh    ;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: rgb(99, 99, 99);;
}

.button-1 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 3rem;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-1:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-1:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-1:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-1:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-1:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-1:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-1:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-1:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}